<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wx.pojo.User">
    <id column="open_id" jdbcType="VARCHAR" property="open_id" />
    <result column="user_img" jdbcType="VARCHAR" property="user_img" />
  </resultMap>
  
  <!-- 查询用户是否已经存在于数据库中 -->
  <select id="getUserExists" parameterType="string" resultType="int">
  	select count(1)
  	from user
  	where open_id=#{open_id}
  </select>
  
  <!-- 注册微信用户到数据库 -->
  <insert id="insertUser" parameterType="map">
  	insert user(open_id,user_img) values(#{open_id},#{user_img})
  </insert>
</mapper>